#UFSC > div {
	font: 50px Verdana, Geneva, sans-serif;
	text-align: right;
	position: relative;
	top: 42%;
	height: 15%;
	color: white;
	width: 70%;
	text-transform: uppercase;
}

#UFSC {
	width: 100vw;
	height: 100vw;
	max-height: 80vh;
	max-width: 80vh;
	background-size: cover;
	background-image: url('bg.png');
	position: relative;
  margin: auto;
}


#txt {
	margin: 0;
	vertical-align: middle;
  line-height: 100px;
}

#input {
  margin-top: 4vh;
  max-width: 80vh;
}
